<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="raisapp" ng-controller="someCtrl">

        <ion-header-bar class="bar-positive">
          <h1 class="title">RAIS APP</h1>
        </ion-header-bar>
        <ion-nav-view></ion-nav-view>

        <script id="templates/sign-in.html" type="text/ng-template">
        <ion-view view-title="Appartment-Search">
          <ion-content>
            <div class="list list-inset">
              <label class="item item-input">
                <span class="input-label label-set">Rais ID</span>
                <input type="text" ng-model="user.appt_id" placeholder="Enter Appartment ID">
              </label>
              <button class="button button-block button-outline button-positive " ng-click="changeAction(first)">Search</button>
            </div>
          </ion-content>
        </ion-view>
        </script>



        <script id="templates/login.html" type="text/ng-template">
          <ion-view view-title="Member-Search">
          <ion-content>
            <h1>{{first.user.appt_id}}</h1>
            <div class="list list-inset">
              <label class="item item-input">
                <span class="input-label label-set">Rais ID</span>{{user.appt_id}}
              </label>
              <label class="item item-input">
                <span class="input-label label-set">Mobile No</span>
                <input type="text" ng-model="user.mobile_number" placeholder="Registered Mobile Number">
              </label>
              <button class="button button-block button-outline button-positive " ng-click="changeAction()">Search</button>
            </div>
          </ion-content>
          </ion-view>
        </script>
  </body>
</html>
